@model IEnumerable<ScrumWeb.Models.Tasks>

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*INTRO SECTION START*@
<br />
<br />
<br />
<div class="headline">
    <h2>Your Tasks</h2>
    <p class="createBtn" title="Add new task">
        @Html.ActionLink("+", "Create")
    </p>
</div>
<br />
@*INTRO SECTION END*@

@*-----------------------TASK STATUS BOARD START --------------------------*@

<hr>
<br />

<div class="row">
    <h2 class="col-sm-4" style="text-align: center;">TODO</h2>
    <h2 class="col-sm-4" style="text-align: center;">IN PROGRESS</h2>
    <h2 class="col-sm-4" style="text-align: center;">DONE</h2>
</div>
<div class="row">
    <div class="empty col-sm-4 todoColumn">
        @foreach (var item in Model.Where(m => m.TaskStatus == "TODO"))
        {
            <div class="fill" draggable="true" id="@item.TaskID" data-status="@item.TaskStatus">
                <textarea name="" rows="4" cols="30" title="@item.TaskDescription">@item.TaskName</textarea>
                <div class="actionLinks">
                    <a title="Save task" class="actionLinksBtn" onclick="SaveTaskWithAjax()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a title="Edit task" class="actionLinksBtn" href="@Url.Action("Edit", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a title="Show task details" class="actionLinksBtn" href="@Url.Action("Details", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-info"></i>
                    </a>
                    <a title="Delete task" class="actionLinksBtn" onclick="DeleteTask('@item.TaskID')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="empty col-sm-4 inprogressColumn">
        @foreach (var item in Model.Where(m => m.TaskStatus == "INPROGRESS"))
        {
            <div class="fill" draggable="true" id="@item.TaskID" data-status="@item.TaskStatus">
                <textarea name="" rows="4" cols="30" title="@item.TaskDescription" class="taskText">@item.TaskName</textarea>
                <div class="actionLinks">
                    <a title="Save task" class="actionLinksBtn" onclick="SaveTaskWithAjax()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a title="Edit task" class="actionLinksBtn" href="@Url.Action("Edit", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a title="Show task details" class="actionLinksBtn" href="@Url.Action("Details", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-info"></i>
                    </a>
                    <a title="Delete task" class="actionLinksBtn" onclick="DeleteTask('@item.TaskID')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="empty col-sm-4 doneColumn">
        @foreach (var item in Model.Where(m => m.TaskStatus == "DONE"))
        {
            <div class="fill" draggable="true" id="@item.TaskID" data-status="@item.TaskStatus">
                <textarea name="" rows="4" cols="30" title="@item.TaskDescription">@item.TaskName</textarea>
                <div class="actionLinks">
                    <a title="Save task" class="actionLinksBtn" onclick="SaveTaskWithAjax()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a title="Edit task" class="actionLinksBtn" href="@Url.Action("Edit", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a title="Show task details" class="actionLinksBtn" href="@Url.Action("Details", "Tasks", new { id = item.TaskID })">
                        <i class="fas fa-info"></i>
                    </a>
                    <a title="Delete task" class="actionLinksBtn" onclick="DeleteTask('@item.TaskID')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@*-----------------------TASK STATUS BOARD END --------------------------*@

<br />
<hr />
<h2>BACKLOG ITEMS</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(m => m.TaskStatus == "BACKLOGITEM"))
    {
        <tr id="@item.TaskID">
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                <a title="Edit task" class="actionLinksBtn" href="@Url.Action("Edit", "Tasks", new { id = item.TaskID })">
                    <i class="fas fa-edit"></i>
                </a>
                <a title="Show task details" class="actionLinksBtn" href="@Url.Action("Details", "Tasks", new { id = item.TaskID })">
                    <i class="fas fa-info"></i>
                </a>
                <a title="Delete task" class="actionLinksBtn" onclick="DeleteTask('@item.TaskID')">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>

<br />
<br />
}
<script src="~/Scripts/main.js"></script>