@model IEnumerable<ScrumWeb.Models.Projects>

@{
    ViewBag.Title = "Projects: " + User.Identity.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*INTRO SECTION START*@
<br />
<br />
<br />
<div class="headline">
    <h2>Your Projects</h2>
    <p class="createBtn" title="Add new project">
        @Html.ActionLink("+", "Create")
    </p>
</div>
<br />
@*INTRO SECTION END*@

<table class="table" id="projectsTable">
    <tr>
        @if (Model.Count() == 0)
        {
            <th>No backlog items have been created yet...</th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.ProjectID">
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                <a title="Edit project" class="actionLinksBtn" href="@Url.Action("Edit", "Projects", new { id = item.ProjectID })">
                    <i class="fas fa-edit"></i>
                </a>
                @*<a title="Show project details" class="actionLinksBtn" href="@Url.Action("Details", "Projects", new { id = item.ProjectID })">
                    <i class="fas fa-info"></i>
                </a>*@
                <a title="Delete project" class="actionLinksBtn" onclick="DeleteProject('@item.ProjectID')">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>
