@model IEnumerable<ScrumWeb.Models.Iterations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*INTRO SECTION START*@
<br />
<br />
<br />
<div class="headline">
    <h2>Your Iterations</h2>
    <p class="createBtn" title="Add new iteration">
        @Html.ActionLink("+", "Create")
    </p>
</div>
<br />
@*INTRO SECTION END*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IterationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IterationDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IterationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IterationDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IterationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.IterationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IterationID })
            </td>
        </tr>
    }

</table>
