@*@model IEnumerable<ScrumWeb.Models.OverviewStats>*@

@{
    ViewBag.Title = "Overview: " + User.Identity.Name;
}
@*Check if user is logged ind*@
@if (@Request.IsAuthenticated)
{
    @*INTRO SECTION START*@
    <br />
    <br />
    <br />
    <div class="headline">
        <h2>Welcome back @User.Identity.Name</h2>
    </div>
    <br />
    @*INTRO SECTION END*@
    <hr />
    <br />
    <br />
    <h2>Your projects count: @ViewBag.projectsCount</h2>
    <br />
    <br />
    <h2>Your iterations count: @ViewBag.iterationsCount</h2>
    <br />
    <br />
    <h2>Your tasks count: @ViewBag.tasksCount</h2>
    <br />
    <br />

}